<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.ContactMapper">
  <resultMap id="BaseResultMap" type="com.myblog.po.Contact">
    <id column="user_contact_id" jdbcType="VARCHAR" property="userContactId" />
    <result column="user_contact_type_name" jdbcType="VARCHAR" property="userContactTypeName" />
    <result column="user_contact" jdbcType="VARCHAR" property="userContact" />
    <result column="user_contact_memo" jdbcType="VARCHAR" property="userContactMemo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_contact_id, user_contact_type_name, user_contact, user_contact_memo
  </sql>
  <select id="selectByExample" parameterType="com.myblog.po.ContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contact
    where user_contact_id = #{userContactId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contact
    where user_contact_id = #{userContactId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.myblog.po.ContactExample">
    delete from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myblog.po.Contact">
    insert into contact (user_contact_id, user_contact_type_name, 
      user_contact, user_contact_memo)
    values (#{userContactId,jdbcType=VARCHAR}, #{userContactTypeName,jdbcType=VARCHAR}, 
      #{userContact,jdbcType=VARCHAR}, #{userContactMemo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myblog.po.Contact">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userContactId != null">
        user_contact_id,
      </if>
      <if test="userContactTypeName != null">
        user_contact_type_name,
      </if>
      <if test="userContact != null">
        user_contact,
      </if>
      <if test="userContactMemo != null">
        user_contact_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userContactId != null">
        #{userContactId,jdbcType=VARCHAR},
      </if>
      <if test="userContactTypeName != null">
        #{userContactTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userContact != null">
        #{userContact,jdbcType=VARCHAR},
      </if>
      <if test="userContactMemo != null">
        #{userContactMemo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myblog.po.ContactExample" resultType="java.lang.Long">
    select count(*) from contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update contact
    <set>
      <if test="record.userContactId != null">
        user_contact_id = #{record.userContactId,jdbcType=VARCHAR},
      </if>
      <if test="record.userContactTypeName != null">
        user_contact_type_name = #{record.userContactTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.userContact != null">
        user_contact = #{record.userContact,jdbcType=VARCHAR},
      </if>
      <if test="record.userContactMemo != null">
        user_contact_memo = #{record.userContactMemo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update contact
    set user_contact_id = #{record.userContactId,jdbcType=VARCHAR},
      user_contact_type_name = #{record.userContactTypeName,jdbcType=VARCHAR},
      user_contact = #{record.userContact,jdbcType=VARCHAR},
      user_contact_memo = #{record.userContactMemo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myblog.po.Contact">
    update contact
    <set>
      <if test="userContactTypeName != null">
        user_contact_type_name = #{userContactTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userContact != null">
        user_contact = #{userContact,jdbcType=VARCHAR},
      </if>
      <if test="userContactMemo != null">
        user_contact_memo = #{userContactMemo,jdbcType=VARCHAR},
      </if>
    </set>
    where user_contact_id = #{userContactId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myblog.po.Contact">
    update contact
    set user_contact_type_name = #{userContactTypeName,jdbcType=VARCHAR},
      user_contact = #{userContact,jdbcType=VARCHAR},
      user_contact_memo = #{userContactMemo,jdbcType=VARCHAR}
    where user_contact_id = #{userContactId,jdbcType=VARCHAR}
  </update>
</mapper>